.cache
.config
.docker
.dotnet
.gsutil
.ipython
.local
.nv
.vscode-server
.ssh
.bash_history
.bash_logout
.bashrc
.profile
.wget-hsts
data/raw
data/pretrained
data/processed/X.npy
data/proccessed/X.npy
*.npy
